---
layout: home-page
title: About
permalink: /about-me/
---
<div class="small-wrapper">
  <div class="about-container">
    <!-- <section class="about-header">
      <div class="author-image-container">
        <img src="{{site.baseurl}}/assets/img/{% if site.author-pic %}{{site.author-pic}}{% endif %}" alt="{{site.author}}">
      </div>
      <p class="subtitle">{{site.about-author}}</p>
    </section> -->
    <section class="about-body">
      <h2>My Story</h2>

      <p> 
        &emsp; &emsp; Hi! My name is Lorenzo, I am from a medium sized city in Brazil (~ 480k inhabitants), which looks like a small piece of paradise.
      </p>
      <img src="/assets/img/beach.JPG" alt="Picture from my home in Vila Velha-ES">
      <p class="subtitle-pic">Picture from my city: Vila Velha-ES</p>

      <p>
        &emsp; &emsp; I truly believe that <strong>life is about passion!</strong> I'll share my story trying to prove it.
        <br>
      &emsp; &emsp; Until early in school I was just an average student, and going to class was not among my favorite activities. It all changed when I met a professor who was passioned about teaching math, he was called Fidelis. For the first time in life I was truly challenged. I am very grateful for his lessons.</p>

      <p>
        <blockquote>Passion is something that you can't hide and it is highly contagious.</blockquote>
      </p>
      
      <p>
        <br>
        &emsp; &emsp; After that, everything was different. I became more and more passionate about math (and eventually physics and any kind of science). So in the very first year o high school I got awarded in a internal competition in my school, and this ended up being printed in the local news: 
      </p>

      <img src="/assets/img/ODE.JPG" class="pic" alt="Short newspaper article about me winning competition">
      <p class="subtitle-pic">Local news reporting the competition</p>

      <p>
        &emsp; &emsp; Then things started to flow naturally. In the second year of high school I was the National Champion of the Brazilian Physics Olympics, not only the single person to achieve this in my school, but the single person to achieve this in the entire state.
      </p>
      <img src="/assets/img/OBF.jpg" alt="Lorenzo holding the gold medal" class="pic">
      <p class="subtitle-pic">Holding the gold medal from the Nationals</p>

      <p>
        &emsp; &emsp; This entire experience was really important because it made me realize that it's possible to achieve anything that you put your mind to.
        <br>
        &emsp; &emsp; After high school, I was accepted at a great university in my state (UFES). During the first two years I changed my priorities a little bit. Because I was very skinny I decided to dedicate myself to the gym. I was able to gain 19kg quickly, going from 51kg to 70kg. I learned a lot about discipline in this period of time.
        <br>
      </p>
      
      <p>
        &emsp; &emsp; In the meantime, I was not enjoying university for several reasons, so I decided to spend one year studying abroad. I ended up going to the University of Nebraska-Lincoln. 
      </p>

      <img src="/assets/img/nebraska-field.JPG" alt="Memorial Stadium in Lincoln Nebraska"> 
      <p class="subtitle-pic">Memorial Stadium in Lincoln Nebraska</p>

      <p>
        &emsp; &emsp; During that year, I could improve a lot my english, I developed the good habit of reading frequently (in my Management class I realized I loved to read), I was a Teacher Assistant (TA) in the Fluid Mechanics course and I met people from all over the world. I made friends that I'll carry with me for the rest of my life.
      </p>
      <img src="/assets/img/nebraska-lorenzo.jpg" class="pic" alt="Being tested by a friend of mine's technology">
      <p class="subtitle-pic">Helping an american friend with his research. I was tested by his technology.</p>

      <p>
        &emsp; &emsp; When I came back to Brazil I felt like there was something missing, mainly because I couldn't feel I was improving myself fast enough. I was sure I had to leave my current university. I did some research on the best universities in Brazil so I decided to come to UNICAMP (the best university in Latin America). I left everything behind to come to São Paulo in order to pursue my dreams. I'm not gonna lie, it was hard in the beginning. But this decision was definately the smartest career choice I have made so far.

        <br>
        &emsp; &emsp; I was pretty excited about my new university in the first couple months. Unfortunately this excitement gradually disapeared as I realized two things:
        <ul>
          <li>I was much more passionate about technology (Computer Science) than Civil Engineering.</li>
          <li>Brazilian universities suck as a whole.</li>
        </ul>
      </p>

      <p>
        &emsp; &emsp; But, as I said, it was still an amazing choice. In São Paulo I found the best entrepreneurial environment that can be found in Brazil, there's plenty of opportunities everywhere, from financial market and consulting firms to startups and big tech companies. Also, there are thousands of events where you can learn a lot from experienced people.
        <br>
        &emsp; &emsp; Since I came to São Paulo, I got really engaged in the startup world. Some friends and I won the "Unicamp Entrepreneurial Challenge" which is a business model competition based on the patents of the university.
      </p>

      <img src="/assets/img/desafio-unicamp.jpg" alt="Unicamp Challenge presentation" class="pic-about">
      <p class="subtitle-pic">Me at the final presentation of the Unicamp Challenge</p>

      <p>
        &emsp; &emsp; Also, me and a friend (Felipe Morais) won the "Starting Point" startup competition, which was organized by students from 5 of the most important universities in Brazil (ITA, UNICAMP, MACKENZIE, USP and FGV). This competition prize took me to Draper University for a two-week entrepreneurial course. I extended the trip for an extra 2 weeks and ended up spending a whole month at Silicon Valley and the Bay area.
      </p>
      <img src="/assets/img/PP.jpg" alt="Starting Point award" class="pic-about">
      <p class="subtitle-pic">Celebrating with some friends the "Starting Point" award. Felipe is the fourth person from left to right</p>

      <p>
        &emsp; &emsp; Being at Silicon Valley for a month changed the way I would look at the world. When I came back, I decided I'd follow a technology career path. I started studying computer science by myself, and eventually became a Data Scientist.
        <br>
        &emsp; &emsp; By the way, my big dream is to create an innovative company where people will be happy to come to work on mondays and that will inspire other entrepreneurs. I believe entrepreneurship is the key to make Brazil a better country.
      </p>

      <!-- END OF MY STORY -->

      <h2>What I write about</h2>
      <p> 
        &emsp; &emsp; I share my learnings about university, career, entrepreneurship and personal satisfaction. The articles are supposed to help you make wiser decisions and inspire you to pursue your dreams.
      </p>

      <h2>Why I started this blog</h2>
      <p>
        &emsp; &emsp; Imagine life as if it was a long mountain climb, every time you take a step, you get to a higher spot that allows you to see the bigger picture of what is passed. I wish I had somebody a few steps in front of me to guide and mentor my choices. In this blog, I want to offer other people this mentorship I never had! I am sharing what I can see from the spot I am right now, hoping it will help you to make smart decisions.
      </p>

      <h2>Why you should start your own blog</h2>
      <p>
        &emsp; &emsp; I'll list here some reasons to start your own blog:
        <ul>
         <li>Helping other people is rewarding.</li>
         <li>Putting your own ideas out there in the world is a good challenge. Your ideas will be put to test!</li>
         <li>Find other people who think like you.</li>
         <li>It's really cool to have a blog.</li>
       </ul>
     </p>
     <p>Besides all that, I'll leave you with this quote:</p>

     <blockquote class="blockquote">
       <p class="mb-0">"If you want to find your purpose in life, help somebody to find their purpose in life"</p>
       <footer class="blockquote-footer">- Simon Sinek.</footer>
     </blockquote>

     <h2>How I developed (coded) this Blog</h2>
     <p>
      &emsp; &emsp; If you're thinking about starting your own blog, here is a list of the steps I took to start mine. I'm hosting it on GitHub Pages (<strong>it's free</strong>), and I use a tool called Jekyll, which makes it easier to maintain.

      <ul>
       <li>You need some basic knowledge of HTML and CSS, which you can learn <a href="https://www.codecademy.com/" target="_blank">here</a>.</li>
       <li>Then you should learn about the Jekyll tool and web deploying, so I recommend this <a href="https://www.udemy.com/criando-sites-estaticos-com-jekyll/learn/v4/t/lecture/7225206?start=0" target="_blank">link</a> for learning about those (It's in Portuguese).</li>
       <li>You can find hundreds of free template to get started <a href="http://themes.jekyllrc.org/" target="_blank">here</a>.</li>
       <li>The template I'm using I got from this guy on <a href="https://github.com/artemsheludko/adam-blog" target="_blank">github</a>.</li>
     </ul>
   </p>
   <p>
     &emsp; &emsp; If this is too much work, you can always go with drag-and-drop platforms to build your web site, but keep in mind that it will cost you money.
   </p>


   {% include contact-list.html %}

 </section> <!-- End About Body-->
</div> <!-- End About Container -->
</div> <!-- End Small Wrapper -->


