---
layout: home-page
title: About
permalink: /about-me/
---
<div class="small-wrapper">
  <div class="about-container">
    <section class="about-header">
      <div class="author-image-container">
        <img src="{{site.baseurl}}/assets/img/{% if site.author-pic %}{{site.author-pic}}{% endif %}" alt="{{site.author}}">
      </div>
      <p class="subtitle">{{site.about-author}}</p>
    </section>
    <section class="about-body">
      <h2>My Story</h2>
      <p> &emsp; &emsp; Until early on school, I didn't have a passion and I thought I did not like school. It all changed when I met a professor who was passioned about teaching math, and for the first time in life I was truly challenged, and I liked it! The only reason I didn't enjoy school before, was because of the way we are taught, without passion!
      <br>
      &emsp; &emsp; From that on, everything changed as I became more and more passionate about math. In the first year o high school I got awarded in a internal competition in my school and that ended up being printed in the local news: 
      <img src="/assets/img/ODE.JPG" class="pic" alt="Short newspaper article about me winning competition">

      In the second year of high school I was the champion of the Brazilian Physics Olympics, not only the single person to achieve this in my school, but the single person to achieve this in the entire state. 
      <img src="/assets/img/OBF.jpg" alt="Lorenzo holding the gold medal" class="pic">

      &emsp; &emsp; This entire experience was really important to me, because it was the first time I realized it's possible to achieve anything that you put your mind into it.
      <br>
      &emsp; &emsp; After high school, I was accepted at the best university in my state (UFES). During the first two years I changed my priorities a little bit, so I dedicated myself to the gym. I went from 50kg to 70kg during that period. Before that, I was too skinny, so gaining weight was important to me, and this was a valuable experience. I learned a lot about discipline in this period of time, which I'll carry for the rest of my life.
      <br>
      &emsp; &emsp; Despite all that, I was not enjoying university for several reasons, so I decided to spend one year studying abroad, and I ended up going to the University of Nebraska-Lincoln.
      <img src="/assets/img/nebraska-field.JPG" alt="Memorial Stadium in Lincoln Nebraska"> 
      &emsp; &emsp; During that year, I could improve a lot my english, I developed a habit of reading frequently (in my Management class I realized I loved to read), I was a teacher assistant for the fluid mechanics class and I met people from all over the world.
      <img src="/assets/img/nebraska-lorenzo.jpg" class="pic" alt="Being tested by a friend of mine's technology">
      <br>
      &emsp; &emsp; When I came back to Brazil I felt like there was something missing, mainly because I was not making an impact. I was sure I had to leave my current university. I did some research on the best universities in Brazil so I decided to come to UNICAMP (the best university in Latin America). I left everything behind to come to São Paulo in order to pursue my dreams. It was hard to leave everything behind, but it was a smart choice.
      <br>
      &emsp; &emsp; I got really disappointed about the classes in this new university, so I finally realized that Brazilian universities suck as a whole. But, as I said, it was still an amazing choice, that is because in São Paulo I found the best entrepreneurial environment in Brazil, there's plenty of opportunities everywhere, from financial market and consulting firms to startups and big tech companies. Also, there are thousands of events where you can learn a lot from experienced people.
      <br>
       &emsp; &emsp; Since I came to São Paulo, I got really engaged in the startup world. I was the champion of the "Unicamp Entrepreneurial Challenge" which is a business model competition based on the patents of the university. 
      <img src="/assets/img/desafio-unicamp.jpg" alt="Unicamp Challenge presentation" class="pic-about">
       &emsp; &emsp; Also, I won the "Starting Point" startup competition, which was organized by students from the most important universities in Brazil (ITA, UNICAMP, MACKENZIE, USP and FGV).
      <img src="/assets/img/PP.jpg" alt="Starting Point award" class="pic-about">
      <br>
       &emsp; &emsp; By the way, my big dream is to create an innovative company where people will be happy to come to work on mondays and that will inspire other entrepreneurs. I believe entrepreneurship is the key to make Brazil a better place.
       </p>
      <ul class="contact-list">
      
      <!-- {% if site.email %}
        <li class="email"><a href="mailto:{{site.email}}"><i class="fa fa-envelope-o"></i></a></li>
      {% else %}
        <li class="email"><a href="mailto:example.adam@blog.com"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
      {% endif %} -->

<!--       {% if site.phone %}
        <li class="phone"><a href="tel:{{site.phone}}"><i class="fa fa-phone"></i></a></li>
      {% else %}
        <li class="phone"><a href="tel:044 825 5523"><i class="fa fa-phone" aria-hidden="true"></i></a></li>
      {% endif %}
 -->
<!--       {% if site.website %}
        <li class="website"><a href="http://{{site.website}}" target="_blank"><i class="fa fa-globe"></i></a></li>
      {% else %}
        <li class="website"><a href="https://artemsheludko.github.io" target="_blank"><i class="fa fa-globe" aria-hidden="true"></i></a></li>
      {% endif %}
 -->
      {% if site.linkedin %}
        <li class="linkedin"><a href="https://in.linkedin.com/in/{{site.linkedin}}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
      {% else %}
        <li class="linkedin"><a href="https://in.linkedin.com/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
      {% endif %}

<!--       {% if site.github %}
        <li class="github"><a href="http://github.com/{{site.github}}" target="_blank"><i class="fa fa-github"></i></a></li>
      {% else %}
        <li class="github"><a href="http://github.com/artemsheludko" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
      {% endif %}
 -->
<!--       {% if site.twitter %}
        <li class="twitter"><a href="https://twitter.com/{{site.twitter}}" target="_blank"><i class="fa fa-twitter"></i></a></li>
      {% else %}
        <li class="twitter"><a href="https://twitter.com/artemsheludko_" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
      {% endif %}
 -->
<!--       {% if site.facebook %}
        <li class="facebook"><a href="https://facebook.com/{{site.facebook}}" target="_blank"><i class="fa fa-facebook"></i></a></li>
      {% else %}
        <li class="facebook"><a href="https://facebook.com/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
      {% endif %}
 -->
      {% if site.instagram %}
        <li class="instagram"><a href="https://instagram.com/{{site.instagram}}" target="_blank"><i class="fa fa-instagram"></i></a></li>
      {% else %}
        <li class="instagram"><a href="https://instagram.com/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
      {% endif %}

<!--       {% if site.pinterest %}
        <li class="pinterest"><a href="https://pinterest.com/{{site.pinterest}}" target="_blank"><i class="fa fa-pinterest"></i></a></li>
      {% else %}
        <li class="pinterest"><a href="https://pinterest.com/" target="_blank"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
      {% endif %}
 -->
      </ul>
    </section> <!-- End About Body-->
  </div> <!-- End About Container -->
</div> <!-- End Small Wrapper -->
