<header class="main-header">
  <div class="wrapper">
    <div class="header-flex">
      <div class="topnav" id="myTopnav">
        
        <a {% if page.url == "/" %} class="active" {% endif %} href="{{site.baseurl}}/">Blog</a>
        <a {% if page.url == "/about-me/" %} class="active" {% endif %} href="{{site.baseurl}}/about-me">About me</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
      </div>
      
      <p class="logo"><a href="{{site.baseurl}}/">{{ site.author }}</a></p>
      <div class="search-icon-container">
        <span class="search-icon"><a><i class="fa fa-search" aria-hidden="true"></i></a></span>
      </div>
    </div>
  </div>
</header> <!-- End Header -->
